@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --cor-primaria: rgb(11, 147, 165);
    --cor-primaria-escura: rgba(2, 17, 145, 0.658);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--cor-primaria);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 3em;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

input {
    width: 100px;
    height: 40px;
    margin: 0px 5px;
}

.iniciar {
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightgreen;
    cursor: pointer;
    transition: .1s;
}

.iniciar:hover {
    transform: scale(1.05);
}

.pausar {
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightskyblue;
    cursor: pointer;
    transition: .1s;
}

.pausar:hover {
    transform: scale(1.05);
}

.zerar {
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightcoral;
    cursor: pointer;
    transition: .1s;
}

.zerar:hover {
    transform: scale(1.05);
}